
%disabled {
    background-color: #a8a2a2;
    box-shadow: none;
  }

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    // margin-bottom: 20px;
    padding: 12px 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #000000;
    background:  #aed6f1;
    :first-child{
        margin-left: 0;
    }
    :last-child{
        margin-right: 0;
    }
    &__select {
      height: 100%;
      margin: 0 55px;
      border-radius: 5px;
      font-weight: bold;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      background:  #82e0aa ;
      box-shadow: 0 3px 3px 0 #58d68d;
      background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 5px;
      padding-left: 10px;
        &option{
            box-shadow: 0 3px 3px 0 #58d68d;
        }
      &:disabled {
        @extend %disabled;
      }
    }
  
    &__button {
      $button: &;
      display: flex;
      align-items: center;
      font-family: inherit;
      font-weight: bold;
      font-size: inherit;
      cursor: pointer;
      background: #82e0aa ;
      appearance: none;
      -webkit-appearance: none;
      border: none;
      border-radius: 5px;
      padding: 0 15px;
      margin:0 65px;
      box-shadow: 0 3px 3px 0 #58d68d;
      color: inherit;
      transition: transform 0.2s linear;
      outline: none;
  
      &--pause {
        @extend #{$button};
        background-color: #a8a2a2;
      }
  
      &--usage {
        @extend #{$button};
        background-color: #a57171;
        box-shadow: 0 3px 3px 0 #ce0808 ;
      }
  
      &:last-child {
        margin-right: 0;
      }
  
      &:hover:enabled {
        transform: translateY(-10%);
      }
  
      &:disabled {
        @extend %disabled;
      }
    }
  }